//Fonts
$SuecaSlab-font-path: '../fonts/SuecaSlab';

//Size
$MaxWidth: 1260px;
$WidthMlateral : 300px;
$HeightMlateral: 4000px;

//Color Document
$PrimaryColorBlue: #0074c4;
$NeutralColorBlack: black;
$NeutralColorWhite: white;
$SecondaryColor: #f2f2f2;
$StyleSeparator: 1px solid #cccccc;

//Color Article
$MarqueeColor: #272727;
$SubhColor: #333333;
$TitleModuleColor: #1c1f1f;