.App {
  position: absolute;
  width: 100%;
  font-family: Arial, sans-serif;
}
.navbar {
  position: relative;
  border-bottom: 1px solid #cccccc;
  padding: 12px 0px;
  width: 100%;
}
.lay {
 
  font: inherit;
  min-width: 320px;
  padding-right: 1rem;
  padding-left: 1rem;

}

.row {
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
