.article {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 0px;
  font: inherit;
}

.wrap-art {
  padding: 0px 8px;
}

.img-autor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding : 8px;
  img {
    width: 80px;
    height: 80px;
  }
}

.lead-title {
  
  font-family: SuecaSlab-Regular;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.2px;
  margin: 0px;
  padding: 8px 0px;
}
.lead {
  text-decoration: none;
  color:#0074C4
}

.title {
  text-decoration: none;
  color:black;
}

.art-img {
  
  img {
    width: 100%;
  }
}

.nameautor{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
}
.marq{
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #272727;
}

.subh {
  margin: 0px;
  padding-bottom: 8px;
  font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #333333
}
