.article {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.imgautor {
    width: 80px;
}
.title {
    text-decoration: none;
}
.art-img {
    width: 100%;
    
}