.body{
    
    font: inherit;
max-width: 920px;
    padding: 16px 0px;
     border: 1px solid black;
}
.sect-render{
   

    @media (min-width: 768px){
        display: flex;
        flex-direction: row;
        
    }
}