@import "../Variables/Variables.scss";
.cont-aside {
  width: 300px;
  height: 600px;
  border: $StyleSeparator;
  margin: 65px 0px 64px;
  background: repeating-linear-gradient(
    45deg,
    hsla(0, 0%, 100%, 0.1),
    hsla(0, 0%, 100%, 0.1),
    hsla(0, 0%, 100%, 0.1),
    hsla(0, 0%, 100%, 0.1) 4px,
    rgba(0, 0, 0, 0.15) 6px
  );
}

.m-lateral {
  width: $WidthMlateral;
  height: $HeightMlateral;
  padding-left: 40px;

  @media (max-width: 1259px) {
    display: none;
    .cont-aside {
      display: none;
    }
  }
}
