.navbar {
  width: inherit;
  min-width: 320px;
  padding: 0px 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  // tablet and mobile devices
  @media (max-width: 1023px) {
    
    .btn-section {
      display: none;
    }
    .btn-signin {
      display: none;
    }
    .btns-left {
      display: none;
    }
    .btns-right {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  }
  // Desktop devices
  @media (min-width: 1024px) {
    width: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 40px;

    .icon {
      display: none;
    }
    .img-logo {
      width: 300px;
    }
    .btns-right {
      height: 40px;
      display: flex;
      flex-direction: row;
     
      justify-content: flex-end;
      
    }

  
    .btn-suscribe {
      margin-right: 25px;
      width: 105px;
      height: 40px;
      border: 1px solid #cccccc;
      box-sizing: border-box;
      border-radius: 4px;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #FFFF24;
      color: #000000;
    }
  }
}
.btns-left {
  width: 260px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btns-right {
  width: 113px;
  height: 24px;
  
}
.img-logo {
  width: 150px;
}
.icon {
  height: 18px;
}

.btn-section,
.btn-search {
  padding: 12px 16px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 700;
  background: #f2f2f2;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  border-color: #f2f2f2;
  img {
    padding-left: 9px;
    width: 15px;
  }
}
.btn-suscribe {
  font-size: 0.75rem;
  font-weight: 700;
  padding: 3px 16px;
  text-decoration: none;
  color: #0074c4;
}
.btn-signin {
  height: 40px;
  width: 96px;
  padding: 3px 16px;
  background: #f2f2f2;
  background: #fff;
  border-color: #0074c4;
  color: #0074c4;
  font-size: 0.75rem;
  font-weight: 700;
  border: 1px solid #0074c4;
  border-radius: 0.25rem;
}
