.navbar {
  width: 100%;
  min-width: 300px;
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  

  // tablet and mobile devices
  @media (max-width: 1024px){
    width: 100%;
    .btn-section {
        display: none;
    }
    .btn-signin{
        display: none;
    }
    .btns-left {
      display: none;
    }
    .btns-right {        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
  }
  // Desktop devices
  @media (min-width : 1024px){
    width: 100%;
    
      display: flex;
      flex-direction: row;
      align-items: center;
      
      
    .btn-search {
        &::after {
          content: 'BUSCAR';
        }
      }
    .icon {
        display: none;
    }
    .img-logo{
        height: 30px;
    }
    .btns-right {
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .btn-signin {
        height: 40px;
    }
    
  }
}
.btns-left {
  display: flex;
  flex-direction: row;
}
.btns-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 10px;
}
.img-logo {
    margin: 0px;
    width: 150px;
}
.icon {
    height: 18px;
}
.btn-search {
  height: 40px;
}
.btn-section {
  height: 40px;
}
.btn-suscribe {
    font-size: .75rem;
    font-weight: 700;
    padding: 3px 16px;
    text-decoration: none;
    color: #0074c4;
}
