.sub-navbar {
    width: inherit;
  min-width: 320px;
  padding: 0px 16px;
 
   
}

.container {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    //mobile devices
    @media (max-width: 320px){
        .a-dolar {
            display: none;
        }
      
    }
    
    // tablet devices
    @media (max-width: 767px){
        .weather , .newsl , .clubn  {
            display: none;
        }
      
    }

    // desktop devices
    @media (max-width: 1024px){
        
        .weather , .newsl {
            display: none;
        }
        
    }
    @media (min-width: 1023px) {
        width: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 40px;
       
    }

}

.dolar , .clubn , .weather, .newsl {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.875rem;
}

